header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  padding: 15px;
  position: sticky;
  top: 0px;  
  background: linear-gradient(#d2691e, #eeb389);
  z-index: 1;  
}

body {
  font-family: 'Comfortaa', sans-serif;
  color: #000000;
  margin: 0;
}

.header__logo {
  height: 80px;  
}

.header__name a {
  font-family: 'Comfortaa', sans-serif;
  font-size: 28px;
  color: black;
  font-weight: 600;
}

.header__contacts a {
  font-size: 18px;
  color: black;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #000000;
}

button {
  font-family: 'Comfortaa', sans-serif;
  font-size: 15px;
  color: #000;
  background-color: #eeb389;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 15px 25px rgb(92, 54, 0);
  padding: 15px;
  transition: 0.4s ease-in;
}

button:hover {
  color: #fff;
  background-color: #d2691e;
  box-shadow: 0 15px 25px rgb(92, 54, 0); 
}

.cats__cataloge {
  background: #ffefd5;
  padding: 70px;  
  display: grid;
  grid-template-columns: repeat(5, 1fr);  
  grid-auto-rows: 580px;
  grid-row-gap: 70px;    
  justify-items: center;   
  justify-content: center;
  align-items: center;
}

.cat__card {
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);  
  height: 100%; 
  width: 250px;
  padding: 20px 20px 5px 20px;
  text-align: center;
  background: #fffbf5;
  border-radius: 30px;
  transition: 0.4s ease-in;
}

.cat__card:hover {  
  background: linear-gradient(rgb(123, 173, 123), #fff);  
  padding: 25px 25px 10px 25px;
}

.cat__img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;  
}

.cat__name {
  font-size: 23px;
  font-weight: 600;  
}

.cat__description {
  height: 28%;
  width: 250px;  
}

.cat__rate img {
  width: 20px;
}

.form__containter {
  width: 600px;
}

.form {
  background-color: #d58c57;
  color: #000;
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.form h1 {
  font-size: 40px;
}

.form p {
  font-size: 20px;  
}

.form__group {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form form {
  display: grid;
  grid-gap: 20px;
  margin-top: 10px;
}

.form label {
  font-size: 20px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 15px;
}

.form input {
  font-size: 20px;
  color: #000000cc;
  height: 55px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 15px;
  border: none;  
}

.form__submit {
font-size:  20px;
font-weight: 600;
margin-top: 40px;
}

select {
  appearance: none;
}

input {
  outline: none;
}

footer {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 17px;
  font-weight: 600;
  background: #ffefd5;
}

.footer__container {
  display: flex;
  justify-content: space-around;
  align-items:flex-start;
}

.footer__copyright {
  margin-top: 50px;
  text-align: center;
  font-size: 17px;
  color: rgb(83, 83, 83);
}

.footer__group h3 {
  font-size: 17px;
  color: #855401;  
}

.footer__links {
  display: flex;
  flex-direction: column;
}

.footer__links a {
  margin-bottom: 15px;
}

/* Контейнер попапа */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;  
  user-select: none;
}

/* Сам попап - окошко */
.popup .popuptext {
  visibility: hidden;  
  background: linear-gradient(to bottom right, #25e7d8, #cfff99);
  color: #000;
  text-align: center;
  border-radius: 15px;  
  padding: 8px 0;
  position: fixed; 
  top: 25%;
  left: 38%;
  width: 25%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

/* Анимация показа попапа */
.popup .show {
  visibility: visible;
  animation: fadeIn 1s;  
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* Убирает анимацию карточек при нажатии на мобильных девайсах */
@media (hover: none) {
  .cat__card:hover {  
    background: linear-gradient(rgb(123, 173, 123), #fff);  
    padding: 25px 25px 10px 25px;
  }
}

/* Планшеты */
@media (max-width: 1024px) {

  header {
    justify-content: space-between;
  }
  
  .header__logo {
    height: 9vw;    
  }
  
  .header__name a {    
    font-size: 3vw;
  }
  
  .header__contacts a {
    display: none;      
  } 

  .fa-solid {
    font-size: 4vw;
    color: rgb(16, 95, 13);
    padding-right: 30px;
  }

  .cats__cataloge {
    grid-template-columns: repeat(2, 1fr);      
  }    
 
  .form {
  padding: 40px 15px;
  }

  .form h1 {
  font-size: 30px;
  }

  footer {
  padding: 40px 15px;
  }

  .footer__container {
  flex-direction: column;
  }  
}

/* Мобильные устройства */
@media (max-width: 720px) {

  header {
    justify-content: space-between;
  }
  
  .header__logo {
    height: 10vw;    
  }
  
  .header__name a {    
    font-size: 4vw;
  }
  
  .header__contacts a {
    display: none;      
  } 

  .fa-solid {
    font-size:5vw;
    color: rgb(16, 95, 13);
  }

  .cats__cataloge {
    grid-template-columns: repeat(1, 1fr);      
  }  
 
  .form {
  padding: 40px 15px;
  }

  .form h1 {
  font-size: 30px;
  }

  footer {
  padding: 40px 15px;
  }

  .footer__container {
  flex-direction: column;
  }  
}