body {
  font-family: 'Comfortaa', sans-serif;
  color: #000000;
  margin: 0;
  min-height: 100vh;
  display: grid;  
  grid-template-rows: 100px 1fr auto;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;  
  padding: 0 30px;
  position: sticky;  
  top: 0px;
  background: linear-gradient(#d2691e, #eeb389);
  z-index: 1;  
}

.header__logo {
  height: 80px;  
}

.header__name a {  
  font-size: 26px;  
  font-weight: 600;
}

.header__contacts a {
  font-size: 18px;  
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #000000;
}

main {
  background-color: #ffefd5;
  padding: 20px;  
  display: grid;
  grid-template-columns: repeat(5, 1fr);  
  grid-auto-rows: 580px;  
  justify-items: center;     
  align-items: center;
}

.cat__card {
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);  
  height: 520px; 
  width: 250px;
  padding: 20px 20px 5px 20px;
  text-align: center;
  background: #fffbf5;
  border-radius: 30px;
  transition: 0.4s ease-in;
}

.cat__img {
  width: 250px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;  
}

.cat__name {
  font-size: 20px;
  font-weight: 600;  
}

.cat__description {
  height: 170px;
  width: 250px;  
}

.cat__rate img {
  width: 20px;
}

footer {  
  font-size: 16px;  
  background: linear-gradient(#eeb389, #d2691e);
  padding: 30px;  
}

.footer__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

.footer__copyright {  
  padding-top: 15px;
  text-align: center;  
  color: #fff;
}

.footer__group h3 {
  font-size: 18px; 
  font-weight: 600;   
}

.footer__links {
  display: flex;
  flex-direction: column;
}

.footer__links a {
  margin-bottom: 16px;
  font-weight: 600;
}

/* Контейнер попапа */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;  
  user-select: none;
}

/* Само попап - окошко */
.popup .popuptext {
  visibility: hidden;  
  background: linear-gradient(to bottom right, #25e7d8, #cfff99);
  color: #000;
  text-align: center;
  border-radius: 15px;    
  position: fixed; 
  top: 25%;
  left: 38%;
  width: 25%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

/* Анимация показа попапа */
.popup .show {
  visibility: visible;
  animation: fadeIn 1s;  
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* Убирает анимацию карточек на экране меньше 1200px*/
@media (min-width: 720px) {

  .cat__card:hover {  
    background: linear-gradient(rgb(123, 173, 123), #fff);  
    padding: 25px 25px 10px 25px;
  }

}

/* Планшеты/мониторы до 1600 */
@media (max-width: 1600px) {  
  
  main {    
    grid-template-columns: repeat(4, 1fr);    
  }

}

/* Планшеты */
@media (max-width: 1200px) {        

  .header__logo {
    height: 6vw;  
  }
  
  .header__name a {  
    font-size: 3vw;      
  }
  
  .contacts__number {
    display: none;      
  }  

  .contacts__icon {
    color: rgb(26, 87, 26);
  }
  
  main {    
    grid-template-columns: repeat(2, 1fr);    
  }
  
  
  footer {  
    font-size: 2vw;      
    
  }
  
  .footer__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .footer__group h3 {
    font-size: 2.5vw;     
  }

}    
  

/* Мобильные устройства */
@media (max-width: 720px) {      
  
  .header__logo {
    height: 8vw;  
  }
  
  .header__name a {  
    font-size: 3vw;      
  }
  
  .contacts__number {
    display: none;      
  }  

  .contacts__icon {
    color: rgb(26, 87, 26);
  }
  
  main {    
    grid-template-columns: repeat(1, 1fr);    
  }
  
  
  footer {  
    font-size: 2vw;      
    
  }
  
  .footer__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .footer__group h3 {
    font-size: 2.5vw;     
  }
}